<launch>
  <!-- Launch file for velodyne16 VLP-16 LiDAR -->

    <!-- Include camera calibration launch file -->
    <include file="$(find calibrator)/launch/camera_rect_ros_mono.launch" />

    <arg name="use_sim_time" default="true" />
    <param name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="rviz" default="false" />
    
    <arg name="gnss_coordinate_system" default="ENU" />
    <arg name="gnss_yaw_offset_deg" default="0.0" />
    <arg name="gnss_invert_x" default="false" />
    <arg name="gnss_invert_y" default="false" />

    <rosparam command="load" file="$(find fast_lio_sam)/config/helios_bistu.yaml" />
    <param name="gnssCoordinateSystem" type="str" value="$(arg gnss_coordinate_system)" />
    <param name="gnssYawOffsetDeg" type="double" value="$(arg gnss_yaw_offset_deg)" />
    <param name="gnssInvertX" type="bool" value="$(arg gnss_invert_x)" />
    <param name="gnssInvertY" type="bool" value="$(arg gnss_invert_y)" />

    <param name="feature_extract_enable" type="bool" value="0"/>
    <param name="point_filter_num" type="int" value="4"/>
    <param name="max_iteration" type="int" value="3" />
    <!--	单帧内，畸变纠正后降采样的分辨率-->
    <param name="filter_size_surf" type="double" value="0.5" />
    <param name="filter_size_map" type="double" value="0.5" />
    <param name="cube_side_length" type="double" value="1000" />
    <param name="runtime_pos_log_enable" type="bool" value="0" />
    <node pkg="fast_lio_sam" type="fastlio_sam_mapping" name="laserMapping" output="screen" /> 

    <group if="$(arg rviz)">
      <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_lio_sam)/rviz_cfg/loam_livox.rviz" />
    </group>

    <node pkg="tf" type="static_transform_publisher" name="map_to_odom" 
      args="0 0 0 0 0 0 map odom 100" />

    <node pkg="tf" type="static_transform_publisher" name="odom_to_camera_init" 
      args="0 0 0 0 0 0 odom camera_init 100" />

    <node pkg="tf" type="static_transform_publisher" name="body_to_base_link" 
      args=" -0.6 0 -0.88 0 0 0 body base_link 100" />

    <node pkg="tf" type="static_transform_publisher" name="body_to_cam_left" 
      args="0.24318827 0.0158984 -0.07570929 -1.57399577 0.00480665 -1.54805221 body cam_left 10" />

    <node pkg="tf" type="static_transform_publisher" name="body_to_hikrobot_camera" 
      args="0.24318827 0.0158984 -0.07570929 -1.57399577 0.00480665 -1.54805221 body hikrobot_camera 10" />

    <node pkg="tf" type="static_transform_publisher" name="body_to_imu_link" 
      args="0.07753 0.02948 -0.12965 0.07610 0.00900 3.11989 body imu_link 10" />

    <node pkg="tf" type="static_transform_publisher" name="body_to_livox" 
      args="0.21427 0.01520 -0.23706 0.03563 0.01191 -0.00052 body livox_frame 10" />

</launch>
